body {
    /* background-color: rgb(173, 173, 238); */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    width: 100%;
    margin: 0rem auto;
    height: 100%;
}

h1 {
    font-size: 50px;
    line-height: 20px;
}
/* .video {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
} */
